---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h1>Courses</h1>

{% for post in site.teaching reversed %}
<div class="course">
  <h2>{{ post.title }}</h2>
  <em>with {{ post.instructor }} - ({{ post.role }})</em>
  <p>{{ post.content | markdownify }}</p>
</div>
{% endfor %}

<h1>Teaching History</h1>

<table>
  <tr>
    <th>Semester</th>
    {% for course in site.teaching %}
    <th>{{ course.title }}</th>
    {% endfor %}
  </tr>
  {% for semester in site.data.teaching_semesters %}
  <tr>
    <td>{{ semester.semester }}</td>
    {% for course in site.teaching %}
    <td>
      {% if semester.courses contains course.title %}
      X
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>