---
layout: archive
permalink: /writing/
title: "Writing"
author_profile: true
redirect_from:
- /wordpress/writing/
---

{% include base_path %}
{% for post in site.posts %}
<article class="archive__post">
    <h2 class="archive__post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="archive__post-excerpt">{{ post.excerpt }}</p>
    <p class="archive__post-categories">
        <strong>Category:</strong>
        {% for category in post.categories %}
        <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {%
        endunless %}
        {% endfor %}
    </p>
</article>
{% endfor %}