---
layout: page
title: Tags
permalink: /tags/
description: "Browse blog posts by tag"
---

{% assign sorted_tags = site.tags | sort %}
<div class="tag-list">
  {% for tag in sorted_tags %}
    <div class="tag-section" id="{{ tag[0] | slugify }}">
      <h2>{{ tag[0] }}</h2>
      <ul>
        {% for post in tag[1] %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

<div class="tag-cloud">
  <h2>All Tags</h2>
  <p>
    {% for tag in sorted_tags %}
      <a href="#{{ tag[0] | slugify }}" class="tag-link" style="font-size: {{ tag[1].size | times: 4 | plus: 80 }}%">
        {{ tag[0] }} <span>({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  </p>
</div>