---
layout: default
---
<div class="home">
    <section class="intro">
        {{ content }}
    </section>

    {% if site.posts.size > 0 %}
    <section class="posts">
        <h2>Recent Posts</h2>
        <ul class="post-list">
            {% for post in site.posts limit:3 %}
            <li>
                <h3>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
                <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                {% if post.description %}
                <p>{{ post.description }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if site.posts.size > 3 %}
        <p class="see-all"><a href="{{ "/writing/" | relative_url }}">See all posts</a></p>
        {% endif %}
    </section>
    {% endif %}
</div>