---
layout: default
---
<div class="teaching">
    <h1>{{ page.title }}</h1>
    
    {{ content }}
    
    {% if page.courses %}
    <div class="course-list">
        {% for course in page.courses %}
        <div class="course">
            <h2>{{ course.title }}</h2>
            {% if course.description %}
            <p>{{ course.description }}</p>
            {% endif %}
            
            {% if course.materials %}
            <h3>Materials</h3>
            <ul>
                {% for material in course.materials %}
                <li><a href="{{ material.url }}">{{ material.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>